{template 'member', 'header'}
	<div class="x-content">
		<div class="main-info">
		
			<div class="blue-tool">
				<a href="index.php?m=member&c=content&a=publish&catid={$catid}&curmb=add&menu=1&t={$_GET['t']}&pt={$_GET['pt']}" class="blue-bt red-bt xfr">+添加项目</a>
			</div>

			<div class="table-widget">
				<table  cellspacing="0" cellpadding="0" class="textc">
					<tr>
						<th class="w50">序号</th>
						<th class="w300">项目名称</th>
						<th class="w150">项目类型</th>
						<th class="w150">项目开始时间</th>
						<th class="w150">项目进度</th>
						<th class="w150">项目状态</th>
						<th class="w150">操作</th>
					</tr>

					{php $index=0;}
					{loop $datas $info}
					{php $index++;}
					<tr>
						<td align="left" class="pdl10">
							{$index}
						</td>
						<td align="left" class="pdl10">
							<a href="index.php?m=member&c=content&a=edit&catid=9&isShow=1&id={$info[id]}&t={$t}&pt={$pt}&menu=1"  title="{$info['title']}">{str_cut($info['title'], 60)}</a>
						</td>
						<td align="center"><a href="{if strpos($CATEGORYS[$info['catid']][url],'http://')===false}{$siteurl}{/if}{$CATEGORYS[$info['catid']][url]}" target="_blank">{$info[name]}</a></td>
						<td align="center">{date('Y-m-d',$info['inputtime'])}</td>
						<td></td> 
						<td>
							{if $info[status]==0}<font color="red">{L('reject_content')}</font>{elseif $info[status]!='99'}<font color="#1D94C7">待审中</font>{/if}
						</td>
						<td align="center">
							<a title="编辑" href="index.php?m=member&c=content&a=edit&catid={$info[catid]}&id={$info[id]}&t={$t}&pt={$pt}&menu=1"><font class="edit-bt" color="red">&nbsp;&nbsp;</font></a>
							<a title="删除" href="javascript:;" onclick="myform.action='index.php?m=member&c=content&a=delete&catid={$info[catid]}&id={$info[id]}';return confirm_delete();"><font class="del-bt">&nbsp;&nbsp;</font></a>
						</td>
					</tr>
					{/loop}
					
				</table>
			
 				<div id="pages"> {$pages}</div>
			</div>
		</div>
	</div>


