{template 'member', 'header'}
	<div class="x-content">
		<div class="main-info">
			<div class="table-widget">
				<table  cellspacing="0" cellpadding="0" class="textc">
					<tr>
						<th class="w350">企业概况</th>
						<th class="w150">分值</th>
						<th class="w150">均值</th>
						<th class="w250">推荐操作</th>
					</tr>
					<tr>
						<td>企业信息完整度</td>
						<td>50%</td>
						<td>70%</td>
						<td><a href="">去完善</a></td>
					</tr>
					<tr>
						<td>账号安全度</td>
						<td>60%</td>
						<td>70%</td>
						<td><a href="">去提高</a></td>
					</tr>

				</table>
                
			</div>

			<div class="table-widget">
				<table  cellspacing="0" cellpadding="0"  class="textc">
					<!-- <div class="table-head pr4">主要产品/公告通知<span>更多>></span></div> -->
					<th colspan="3">
						<p class="fl10">主要产品/公告通知</p><span class="fr10">更多>></span>
					</th>
					<tr>
						<td class="w300">长沙市工业和信息化项目调度 </td>
						<td class="w150">2015年4月6日</td>
						<td class="w100">信息办</td>
					</tr>
					<tr>
						<td class="w300">长沙市工业和信息化项目调度库升级维护通知 </td>
						<td class="w150">2015年4月6日</td>
						<td class="w100">信息办</td>
					</tr>
				</table>
			</div>
			<div class="table-widget">
				<table  cellspacing="0" cellpadding="0"  class="textc noborder">
					<!-- <div class="table-head">长沙市工业项目库系统使用情况<span>全部>></span></div> -->
					<th colspan="2">长沙市工业项目库系统使用情况<span class="fr10">全部>></span></th>
					<tr>
						<td class="w80 textr">3523</td>
						<td class="w300 textl">家企业注册入驻本系统</td>
					</tr>
					<tr>
						<td class="w50 textr">353</td>
						<td class="w100 textl">家企业完成了企业实名认证</td>
					</tr>
					<tr>
						<td class="w50 textr">234</td>
						<td class="w100 textl">家企业每周登录4次</td>
					</tr>
				</table>
			</div>

		</div>
	</div>
