{template 'member', 'header'}

<style>
	.w100{
		background: #fff !important;
		text-indent: 20px;
		color: #767676;
	}
</style>

<div class="x-content">

	<div class="main-info">
		<form method="post" action="" id="myform" name="myform">
			<input type="hidden" name="type" value="basic">
			
			<div>
				<div class="info">
					<div class="home-title">
					<!-- 企业logo -->
						<img  src="{$info['basic_logo']}" alt="" class="home-logo" height="121px">
						<h4>{$memberinfo[nickname]}<span class="renz">({L('status'.$memberinfo['status'],'','mydiy')})</span></h4>
					</div>
					<div class="home-jieshao">
						{$memberinfo['basic_com_intruduce']}
					</div>
					<div class="jieshao-row">
						<li>
							<div class="jieshao-li">
								<span class="js-title">法人代表</span>
								<span class="js-cont">{$info['basic_far']}</span>
							</div>
							<div class="jieshao-li">
								<span class="js-title">注册地址</span>
								<span class="js-cont">{$info['basic_reg_addr']}</span>
							</div>
						</li>
						<li>
							<div class="jieshao-li">
								<span class="js-title">成立时间</span>
								<span class="js-cont">{$info['basic_found_date']}</span>
							</div>
							<div class="jieshao-li">
								<span class="js-title">办公电话</span>
								<span class="js-cont">{$info['basic_office_phone']}</span>
							</div>
						</li>
						<li>
							<div class="jieshao-li">
								<span class="js-title">联系人QQ</span>
								<span class="js-cont">{$info['basic_qq']}</span>
							</div>
							<div class="jieshao-li">
								<span class="js-title">单位网址</span>
								<a class="js-cont href" href="{$info['basic_url']}">{$info['basic_url']}</a>
							</div>
						</li>
					</div>
					<div class="home-cont-li">
						<div class="home-cont-title">
							<span>1</span>
							<div class="home-cont-h5">
								项目信息
							</div>
						</div>
						{php $where="username='".$memberinfo['username']."'";}
						{pc:content  action="lists" catid="9"  order="listorder DESC,id desc" num="8" moreinfo="1"   where=$where }
						{/pc}
						
						{loop $data $v}
							<a href="index.php?menu=1&m=member&c=content&a=edit&catid={$v['catid']}&isShow=1&id={$v[id]}">
								<!-- 项目标题 -->
								<div class="home-xiangmu-title">
									{$v['title']}
								</div>
								<!-- 项目详情 -->
								<div class="home-xiangmu-cont">
									{str_cut($v['pro_content'],500)}
								</div>
							</a>
						{/loop}
					</div>
						{php $where.="and thumbs!=''"}
						{pc:content  action="lists" catid="10"  order="listorder DESC,id desc" num="12" moreinfo="1"   where=$where }
						{/pc}
					
					<!-- 产品图片开始 -->
					<div class="home-product-img">
							<h5>产品图片</h5>
						{loop $data $v}	
							{php eval("\$d = ".$v['thumbs'].'; ');}
			         		{php $d=$d[0];}
						
							<li class="hp-li">
								<a href="index.php?m=member&c=content&a=edit&catid={$v['catid']}&isShow=1&id={$v[id]}&menu=1">
									<img src="{$d['url']}" alt="">
									<p>{str_cut($v['title'],20)}</p>
								</a>
							</li>
						{/loop}
					</div>
					




				</div>
			</div>
		</form>
	</div>
</div>

