{loop $dates $d}
						<tr>
							<td style="font-size:18px;border:1px solid #aaa" >所属年月:</br><span class="yearMonth">{$d}</span>
							</td>
							<td style="border:1px solid #aaa">
								<table>
									{php $info=$lists[$d]}
						{if $info}
						<tr><td class="w150">当月完成投资：</td><td class="w600 noborder">{$info['monthCompleteDz']}(万元)</td></tr>
						<tr><td class="w150">存在问题：</td><td class="w600 noborder">{$info['question']}</td></tr>
						<tr><td class="w150">形象进度：</td><td class="w600 noborder">{$info['progress']}</td></tr>
						{else}
								<form method="post" action="" id="myform" name="myform">
									<input type="hidden" name="info[catid]" value="{$catid}" />
									<input type="hidden" name="info[yearMonth]" value="{$d}" />
									<input type="hidden" name="info[projectId]" value="{$projectId}" />
										{loop $forminfos $k $v}
											{if $v['name']!='栏目'}
											<tr>
												<th class="w150 textr">{if $v['star']} <font color="red">*</font>{/if} {$v['name']}：</th>
												<td class="w600 textl">{$v['form']}{if $v['tips']}({$v['tips']}){/if}</td>
											</tr>
											{/if}
										{/loop}
										<tr>
											<td align="center" colspan="2"><input name="dosubmit" type="submit" id="dosubmit" value="保存" class="button red-bt"></td></td>
										</tr>
								</form>
						{/if}
								</table>
							</td>
						</tr>
						<tr style="height:35px;"><td></td></tr>
			{/loop}