{template 'member', 'header'}
<!--  -->
<style>
/*隐藏标题*/
    .title{
        display: none;
    }
</style>
    <div class="x-content">
        <div class="" style="width:1190px;">
                {pc:content action="lists" catid="$catid" num="10" order="id" moreinfo='1' DESC" page="$page"}
                
            <div class="table-widget table-list tz-widget">
                <!-- 通知列表头部的面包屑和搜索  开始 -->
                    <div class="tz-mianbaoxie relative">
                        <div class="blue-block"></div>
                       <a onclick="parent.menu(4);">首页</a>
                       >
                      {catpos($catid)}{$title}
                    </div>
                   <!--  <div class="tz-search">
                        <img class="tz-search-bt" src="{CSS_PATH}gxw2/img/tz-search.png">
                        <p>本栏目信息检索关键词</p>
                        <div class="tz-search-box">
                            <input type="text" class="tz-search-input">
                            <input type="button" class="tz-search-sub" value="搜索">
                        </div>
                        
                    </div>  -->
                    <!-- 通知列表头部的面包屑和搜索  end -->
                    <div class="tz-list">
                    	
                    	{php $index=0;}
	                    {loop $data $info}
	                        {php $CAT = $CATEGORYS[$info[catid]];}
	                   		 {php $index++;}
	                        <li>
	                        <i class="li-disc"></i>  <!-- 小点 -->
	                            <a href="{$info[url]}"><span>【{$CAT['catname']}】</span>{str_cut($info['title'], 180)}</a>
	                            <p><b>{date('Y-m-d',$info['inputtime'])}</b></p>
	                        </li>
	                    {/loop}
                    </div>
                    <div id="pages" class="tz-pages"> {$pages}</div>
            </div>
        </div>
        </div>
    </div>


